
body{
    margin: 0px;
    padding: 0px;
}
.top{
    
    margin: -3px;
    padding: 8px;
    text-align: end;
    font-size: 17px;
    padding-top: 10px;
 }

.google{
      margin: 130px;
    padding: 10px;
text-align: center;        
     
}
.input{
   margin: -162px;
    padding: 51px;
    text-align: center;
}


.button{  
    text-align: center;
    margin: 44px;
    padding: 7px;
    margin: 52px 6px;
}
P{
 margin: 30px;
    padding: 10px;  
}

 .end{
    background-color: rgb(242, 242, 242);
    margin: 34px;
    padding:9px;
    text-align: -webkit-left;
    line-height: 26px;
    text-indent: 25px;
    margin: 10px;

 }

.span{
     text-align: center;
     float: right;
     margin-right: 11px;
 }